parameters:
	ignoreErrors:
		-
			message: "#^Method Nucleos\\\\Doctrine\\\\EventListener\\\\ORM\\\\TablePrefixEventListener\\:\\:evaluteMapping\\(\\) has parameter \\$mapping with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/EventListener/ORM/TablePrefixEventListener.php

		-
			message: "#^Offset 'sequenceName' does not exist on array\\{sequenceName\\: string, allocationSize\\: string, initialValue\\: string, quoted\\?\\: mixed\\}\\|null\\.$#"
			count: 1
			path: src/EventListener/ORM/TablePrefixEventListener.php

		-
			message: "#^Parameter \\#1 \\$definition of method Doctrine\\\\ORM\\\\Mapping\\\\ClassMetadata\\<object\\>\\:\\:setSequenceGeneratorDefinition\\(\\) expects array\\{sequenceName\\?\\: string, allocationSize\\?\\: int\\|string, initialValue\\?\\: int\\|string, quoted\\?\\: mixed\\}, array\\{sequenceName\\: string, allocationSize\\: string, initialValue\\: string, quoted\\?\\: mixed\\}\\|array\\{sequenceName\\: string\\}\\|null given\\.$#"
			count: 1
			path: src/EventListener/ORM/TablePrefixEventListener.php

		-
			message: "#^Parameter \\#2 \\$mapping of method Nucleos\\\\Doctrine\\\\EventListener\\\\ORM\\\\TablePrefixEventListener\\:\\:evaluteMapping\\(\\) expects array, Doctrine\\\\ORM\\\\Mapping\\\\AssociationMapping given\\.$#"
			count: 1
			path: src/EventListener/ORM/TablePrefixEventListener.php

		-
			message: "#^Parameter \\#3 \\$definition of method Nucleos\\\\Doctrine\\\\EventListener\\\\ORM\\\\TablePrefixEventListener\\:\\:addSequenceGenerator\\(\\) expects array\\{allocationSize\\: int\\}, array\\{sequenceName\\: string, allocationSize\\: string, initialValue\\: string, quoted\\?\\: mixed\\}\\|array\\{sequenceName\\: string\\}\\|null given\\.$#"
			count: 1
			path: src/EventListener/ORM/TablePrefixEventListener.php

		-
			message: "#^Property Nucleos\\\\Doctrine\\\\Migration\\\\IdToUuidMigration\\:\\:\\$schemaManager with generic class Doctrine\\\\DBAL\\\\Schema\\\\AbstractSchemaManager does not specify its types\\: T$#"
			count: 1
			path: src/Migration/IdToUuidMigration.php

		-
			message: "#^Call to method method\\(\\) on an unknown class Doctrine\\\\ORM\\\\Mapping\\\\ClassMetadataInfo\\.$#"
			count: 4
			path: src/Test/ORM/EntityManagerMockFactory.php

		-
			message: "#^Class Doctrine\\\\ORM\\\\Mapping\\\\ClassMetadataInfo not found\\.$#"
			count: 1
			path: src/Test/ORM/EntityManagerMockFactory.php

		-
			message: "#^Trying to mock an undefined method getFieldNames\\(\\) on class Doctrine\\\\ORM\\\\Mapping\\\\ClassMetadataInfo\\.$#"
			count: 1
			path: src/Test/ORM/EntityManagerMockFactory.php

		-
			message: "#^Trying to mock an undefined method getIdentifier\\(\\) on class Doctrine\\\\ORM\\\\Mapping\\\\ClassMetadataInfo\\.$#"
			count: 1
			path: src/Test/ORM/EntityManagerMockFactory.php

		-
			message: "#^Trying to mock an undefined method getName\\(\\) on class Doctrine\\\\ORM\\\\Mapping\\\\ClassMetadataInfo\\.$#"
			count: 1
			path: src/Test/ORM/EntityManagerMockFactory.php

		-
			message: "#^Trying to mock an undefined method getTableName\\(\\) on class Doctrine\\\\ORM\\\\Mapping\\\\ClassMetadataInfo\\.$#"
			count: 1
			path: src/Test/ORM/EntityManagerMockFactory.php
